<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">

<head>
	<title>Home | Wahenoor Digital Media | Complete your Marketing Goal</title>
</head>

<body>
	<div id="content">

		<!-- Full Screen Search Start -->
		<div class="modal fade" id="searchModal" tabindex="-1">
			<div class="modal-dialog modal-fullscreen">
				<div class="modal-content" style="background: rgba(9, 30, 62, .7);">
					<div class="modal-header border-0">
						<button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body d-flex align-items-center justify-content-center">
						<div class="input-group" style="max-width: 600px;">
							<input type="text" class="form-control bg-transparent border-primary p-3"
								placeholder="Type search keyword">
							<button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Full Screen Search End -->


		<!-- Blog Start -->
		<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
			<div class="container py-5">
				<div class="row g-5">
					<!-- Blog list Start -->
					<div class="col-lg-8">
						<div class="row g-5">
							<div class="col-md-6 wow slideInUp" data-wow-delay="0.1s">
								<div class="blog-item bg-light rounded overflow-hidden">
									<div class="blog-img position-relative overflow-hidden">
										<img class="img-fluid" src="img/blog-1.jpg" alt="">
										<a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4"
											href="">Affiliate Marketing</a>
									</div>
									<div class="p-4">
										<div class="d-flex mb-3">
											<small class="me-3"><i
													class="far fa-user text-primary me-2"></i>Simardeep</small>
											<small><i class="far fa-calendar-alt text-primary me-2"></i>01 April,
												2024</small>
										</div>
										<h4 class="mb-3">What Is Affiliate Marketing?</h4>
										<p>Affiliate marketing is an advertising model in which a company compensates
											third-party publishers to generate traffic or leads to the company’s
											products
											and services</p>
										<a data-th-href="@{'/afilliatemarketingdetail'}" class="text-uppercase"
											href="">Read
											More <i class="bi bi-arrow-right"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-6 wow slideInUp" data-wow-delay="0.6s">
								<div class="blog-item bg-light rounded overflow-hidden">
									<div class="blog-img position-relative overflow-hidden">
										<img class="img-fluid" src="img/blog-2.jpg" alt="">
										<a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4"
											href="">Affiliate Commission Models</a>
									</div>
									<div class="p-4">
										<div class="d-flex mb-3">
											<small class="me-3"><i class="far fa-user text-primary me-2"></i>Simardeep
												Singh</small>
											<small><i class="far fa-calendar-alt text-primary me-2"></i>02 April,
												2024</small>
										</div>
										<h4 class="mb-3">10 Types of Affiliate Commission Models</h4>
										<p>Affiliate Commission Models paid when a specific action is completed, like a
											sale
											or sign-up.</p>
										<a data-th-href="@{'/commissionmodels'}" class="text-uppercase" href="">Read
											More <i class="bi bi-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Blog list End -->

					<!-- Sidebar Start -->
					<div class="col-lg-4">
						<!-- Search Form Start -->
						<div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
							<div class="input-group">
								<input type="text" class="form-control p-3" placeholder="Keyword">
								<button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
							</div>
						</div>
						<!-- Search Form End -->

						<!-- Category Start -->
						<div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
							<div class="section-title section-title-sm position-relative pb-3 mb-4">
								<h3 class="mb-0">Categories</h3>
							</div>
							<div class="link-animated d-flex flex-column justify-content-start">
								<a class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2" href="#"><i
										class="bi bi-arrow-right me-2"></i>Display Ads</a>
								<a class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2" href="#"><i
										class="bi bi-arrow-right me-2"></i>Native Ads</a>
								<a class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2" href="#"><i
										class="bi bi-arrow-right me-2"></i>Web Development</a>
								<a class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2" href="#"><i
										class="bi bi-arrow-right me-2"></i>Push and Pop</a>
								<a class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2" href="#"><i
										class="bi bi-arrow-right me-2"></i>Email Marketing</a>
							</div>
						</div>
						<!-- Category End -->

						<!-- Recent Post Start -->
						<div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
							<div class="section-title section-title-sm position-relative pb-3 mb-4">
								<h3 class="mb-0">Recent Post</h3>
							</div>
							<div class="d-flex rounded overflow-hidden mb-3">
								<img class="img-fluid" src="img/blog-1.jpg"
									style="width: 100px; height: 100px; object-fit: cover;" alt="">
								<a href="" class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0">Afiliate
									Marketing
								</a>
							</div>
							<div class="d-flex rounded overflow-hidden mb-3">
								<img class="img-fluid" src="img/blog-2.jpg"
									style="width: 100px; height: 100px; object-fit: cover;" alt="">
								<a href="" class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0">10 Types
									of
									Affiliate Commission Models
								</a>
							</div>

						</div>
						<!-- Recent Post End -->


					</div>
					<!-- Sidebar End -->
				</div>
			</div>
		</div>
		<!-- Blog End -->


		<!-- Vendor Start -->
		<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
			<div class="container py-5 mb-5">
				<div class="bg-white">
					<div class="owl-carousel vendor-carousel">
						<img src="img/vendor-1.jpg" alt="">
						<img src="img/vendor-2.jpg" alt="">
						<img src="img/vendor-3.jpg" alt="">
						<img src="img/vendor-4.jpg" alt="">
						<img src="img/vendor-5.jpg" alt="">
						<img src="img/vendor-6.jpg" alt="">
						<img src="img/vendor-7.jpg" alt="">
						<img src="img/vendor-8.jpg" alt="">
						<img src="img/vendor-9.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
		<!-- Vendor End -->

	</div>

	<!-- JavaScript Libraries -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="lib/wow/wow.min.js"></script>
	<script src="lib/easing/easing.min.js"></script>
	<script src="lib/waypoints/waypoints.min.js"></script>
	<script src="lib/counterup/counterup.min.js"></script>
	<script src="lib/owlcarousel/owl.carousel.min.js"></script>

	<!-- Template Javascript -->
	<script src="js/main.js"></script>
</body>

</html>